{% extends "./layout/base.html" %} {% load static %} 

{% block page_title %}
<h1>Homepage</h1>
{% endblock page_title %}

{% block page_content %}
  <ul>
    <li><a href="./signup">Sign Up</a></li>
    <li><a href="./accounts/login">Login</a></li>
    <li><a href="./about">About Us</a></li>
    <li><a href="./signup_as_coach">Sign Up as Coach</a></li>
    <li><a href="./myclass/new">Post a Class</a></li>
  </ul>

  <h2>All classes</h2> 
    {% for myclass in myclasses %}
        <h3><a href="{% url 'myclass_detail' myclass.pk %}">{{ myclass.title }}</a></h4>
        <small>
            {{ myclass.created_on.date }} | Categories:
            {% for category in myclass.categories.all %}
                <a href="{% url 'myclass_category' category.name %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </small>
        <p>{{ myclass.description | slice:":400" }}...</p>
    {% endfor %} 
{% endblock page_content %}





